extends ../layouts/header

block content
  if errors
    each error in errors
      .px-5.mt-5
        .alert.alert-danger= error
  .px-5
    h1 Login  
    form(action="/auth/login", method="post")
      .form-group
        label(for="username") Username
        input#username.form-control(name='username', type="text", value=values ? values.username : '')
      .form-group
        label(for="password") Password
        input#password.form-control(name='password', type="password", value=values ? values.password: '')

      button.btn.btn-primary Login