html,
body {
    margin: 0; 
    padding: 0;
}

/* input[type="text"] {
    border:solid 1px #fff;
    font-size:18px;
    he
    padding: 0 10px;
    width: 500px;
    color: #fff;
    background:none;
} */
.container {
    width: 900px;
    margin: 100 auto;
}
#todo-list li{
    height: 30px;
    line-height: 30px;
    width: 50%;
    margin-top: 15px;
}

#todo-list li:hover {
    background-color: #fff;
    color: #555;
    cursor: pointer;
}